{% extends 'layout.html' %}

{% block title %}Edición de movimiento{% endblock %}

{% block content %}
<div class="row py-2 justify-content-center">
    <div class="col-sm-12 col-md-4">
        <h2>Edición de movimiento</h2>
        <div class="card card-center">
            <div class="card-body">
                <form action="{% url 'editarMovimiento' movimiento.ID_Movimiento %}" method="POST">{% csrf_token %}
                    <div class="form-group py-2">
                        <select id="ddlMaterialDeposito" name="ddlMaterialDeposito" class="form-control" required>
                            <option value="" selected disabled>Seleccione el material - depósito</option>
                            {% for material_deposito in materiales_deposito %}
                            <option value="{{ material_deposito.ID_MXD }}" >{{ material_deposito.ID_Material }} - {{ material_deposito.ID_Deposito }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group py-2">
                        <select id="ddlEmpleado" name="ddlEmpleado" class="form-control" required>
                            <option value="" selected disabled>Seleccione el empleado</option>
                            {% for empleado in empleados %}
                            <option value="{{ empleado.ID_Empleado }}">{{ empleado.Nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtConcepto" name="txtConcepto" value="{{ movimiento.Concepto }}"
                            class="form-control" placeholder="Concepto" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="txtCantidad" name="txtCantidad" value="{{ movimiento.Cantidad }}"
                            class="form-control" placeholder="Cantidad" required>
                    </div>
                    <div class="form-group py-2">
                        <select id="ddlSigno" name="ddlSigno" class="form-control" required>
                            <option value="" selected disabled>Seleccione un tipo de movimiento</option>
                            <option value="1">Entrada</option>
                            <option value="-1">Salida</option>
                        </select>
                    </div>
                    <div class="d-grid py-2">
                        <button type="submit" class="btn btn-success bt-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}