{% extends 'layout.html' %} 

{% block content %}
<html> 
    <head>
        <title>Clientes</title>
        <style>
            /* Estilos para las etiquetas de los formularios */
            label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
                color: #333;
            }
        </style>
    </head>
    <div class="row py-2">
        <h1 style="text-align: center;">Lista de clientes</h1>
        <div class="col-md-6">
            <div class="mb-3">
                <!-- Formulario de importar archivo CSV para clientes nuevos y duplicados-->
                <form method="post" enctype="multipart/form-data" action="{% url 'importar_csv_cliente' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="files_input">Importar archivo CSV de clientes nuevos:</label>
                        <input type="file" name="files" accept=".csv, .txt" class="form-control-file" id="files_input" multiple>
                    </div>
                    <div class="d-flex" style="margin-top: 1%;">
                        <button type="submit" class="btn btn-success btn-sm" id="import_files_button" disabled>
                            <i class="bi bi-cloud-upload"></i> Importar archivos CSV y TXT
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <!-- Formulario de importar archivo CSV actualizar datos del cliente -->
                <form method="post" enctype="multipart/form-data" action="{% url 'actualizar_cliente' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="files_input">Importar archivo CSV para actualizar los datos del cliente:</label>
                        <input type="file" name="files" accept=".csv, .txt" class="form-control-file" id="files_input_ac" multiple>
                    </div>
                    <div class="d-flex" style="margin-top: 1%;">
                        <button type="submit" class="btn btn-success btn-sm" id="import_files_button_ac" disabled>
                            <i class="bi bi-cloud-upload"></i> Importar archivos CSV y TXT 
                        </button>
                    </div>
                </form>
            </div>
        </div>
            <!-- Formulario de búsqueda -->
            <form class="form-inline my-2 my-lg- py-2" action="{% url 'clientes' %}" method="GET">
                <div class="input-group mb-3" style="width: 30%;">
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i> Buscar</button>
                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Buscar por número de abonado" aria-label="Buscar">
                </div>
            </form>
        </div>    
        
        <div class="table-responsive ">
            <!-- Tabla de clientes -->
            <table class="table table-striped">
                <!-- Encabezado de la tabla -->
                <thead>
                    <tr>
                        <th>Número de abonado</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>RUC</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in page_obj %}
                    <tr>
                        <td>{{ cliente.numero_de_abono }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellido }}</td>
                        <td>{{ cliente.RUC }}</td>
                        <td>{{ cliente.telefono }}</td>
                        <td>{{ cliente.direccion }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <nav aria-label="Paginación de clientes">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a style="color: black;" class="page-link" href="?page=1">&laquo; Primera</a>
                    </li>
                    <li class="page-item">
                        <a style="color: black;" class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span style="color: black;" class="page-link">&laquo; Primera</span>
                    </li>
                    <li class="page-item disabled">
                        <span style="color: black;" class="page-link">Anterior</span>
                    </li>
                {% endif %}
        
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <span style="color: black;" class="page-link">
                                {{ i }}
                            </span>
                        </li>
                    {% else %}
                        {% if i > page_obj.number|add:-7 and i < page_obj.number|add:8 %}
                            <li class="page-item">
                                <a style="color: black;" class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
        
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a style="color: black;" class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    </li>
                    <li class="page-item">
                        <a style="color: black;" class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo; Última</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Siguiente</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">&raquo; Última</span>
                    </li>
                {% endif %}
            </ul>
        </nav>

        {% if registros_duplicados %}
        <p>{{ registros_duplicados|length }} registros duplicados encontrados.</p>
        {% endif %}
    
    {% if messages %}
    
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
   
    {% endif %}
    <script>
        // Obtener los parámetros de la URL usando JavaScript
        const urlParams = new URLSearchParams(window.location.search);
        const numRegistrosNuevos = urlParams.get('nuevos');
        const numRegistrosDuplicados = urlParams.get('duplicados');

        // Mostrar los resultados como párrafos en la página
        const registrosNuevosElement = document.getElementById('registros_nuevos');
        const registrosDuplicadosElement = document.getElementById('registros_duplicados');

        if (numRegistrosNuevos) {
            registrosNuevosElement.textContent = `Cantidad de registros nuevos: ${numRegistrosNuevos}`;
        }

        if (numRegistrosDuplicados) {
            registrosDuplicadosElement.textContent = `Cantidad de registros duplicados: ${numRegistrosDuplicados}`;
        }

        // Redireccionar a la página principal después de descargar el archivo CSV
        window.onload = function() {
            const importCsvButton = document.getElementById('import_files_button');
            importCsvButton.addEventListener('click', function() {
                setTimeout(function() {
                    window.location.reload();
                }, 1000);
            });
        };
    </script>
    
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Obtener el input de archivo y el botón de importar CSV
                var csvFileInput = document.getElementById('files_input');
                var importCsvButton = document.getElementById('import_files_button');

                // Agregar evento para habilitar/deshabilitar el botón cuando se seleccione un archivo
                csvFileInput.addEventListener('change', function() {
                    if (csvFileInput.value) {
                        importCsvButton.disabled = false;
                    } else {
                        importCsvButton.disabled = true;
                    }
                });
            });
        </script>
         <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Obtener el input de archivo y el botón de importar CSV
                var csvFileInput = document.getElementById('files_input_ac');
                var importCsvButton = document.getElementById('import_files_button_ac');

                // Agregar evento para habilitar/deshabilitar el botón cuando se seleccione un archivo
                csvFileInput.addEventListener('change', function() {
                    if (csvFileInput.value) {
                        importCsvButton.disabled = false;
                    } else {
                        importCsvButton.disabled = true;
                    }
                });
            });
        </script>
    </div>
</html>
{% endblock %}