{% extends 'layout.html' %}

{% block title %} Gestion de tareas {% endblock %}

{% block content %}

<div class="row py-2 justify-content-center">
    <div class="col-sm-12 col-md-4">
        <h2>Gestión de tareas</h2>
            <div class="card card-center">
                <div class="card-body">
                    <form action="/tarea/editarTarea/{{tarea.ID_Tarea}}" method="POST">{% csrf_token %}
                    <div class="form-group">
                            <input type="text" id="txtTarea" name="txtTarea" value="{{tarea.Nombre}}" class="form-control" placeholder="Tarea" required>
                        </div>
                        <div class="d-grid py-2">
                                <button type="submit" class="btn btn-success bt-block text-white">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>

{% endblock %}