{% extends 'layout.html' %}

{% block title %}Gestión de transferencias{% endblock %}

{% block content %}
<div class="row py-2">
    <div class="col-12">
        <!-- mensaje de pantalla -->
        {% for message in messages %}
            {% if message.tags == 'warning' %}
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                    var m = '{{ message }}'
                    Swal.fire(
                        '',
                        m,
                        'warning'
                    )
                </script>
            {% elif message.tags == 'error' %}
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                    var m = '{{ message }}'
                    Swal.fire(
                        '',
                        m,
                        'error'
                    )
                </script>
            {% else %}
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                    var m = '{{ message }}'
                    Swal.fire(
                        '',
                        m,
                        'success'
                    )
                </script>
            {% endif %}
        {% endfor %}
        <h1>Gestión de transferencias</h1>
        <!-- Botón para abrir la modal de registrar transferencia -->
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#registrarTransferenciaModal">
            <i class="bi bi-plus"></i> Registrar Transferencia
        </button>
        <!-- Formulario de búsqueda -->
        <form class="form-inline my-2 my-lg-0" action="{% url 'transferencias' %}" method="GET">
            <div class="input-group mb-3" style="width: 50%;">
                <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i> Buscar</button>
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Buscar por origen o destino"
                    aria-label="Buscar">
            </div>
        </form>
        <div class="table responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Origen (material - depósito)</th>
                        <th>Destino (material - depósito)</th>
                        <th>Empleado</th>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transferencia in transferencias %}
                    <tr>
                        <td>{{ transferencia.ID_MXD_Origen }}</td>
                        <td>{{ transferencia.ID_MXD_Destino }}</td>
                        <td>{{ transferencia.ID_Empleado }}</td>
                        <td>{{ transferencia.Fecha }}</td>
                        <td>{{ transferencia.Cantidad }}</td>
                        <td><a href="#" class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#editarTransferenciaModal{{ transferencia.ID_Transferencias }}"><i class="bi bi-credit-card-fill"></i> Editar</a>
                        <td><a href="/transferencia/eliminarTransferencia/{{ transferencia.ID_Transferencias }}"
                                class="btn btn-danger btnEliminacion"><i class="bi bi-trash-fill"></i> Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Paginación -->
        <nav aria-label="Paginación de transferencias">
            <ul class="pagination justify-content-center">
                {% if transferencias.has_previous %}
                <li class="page-item">
                    <a style="color: black;" class="page-link" href="?page=1">&laquo; Primera</a>
                </li>
                <li class="page-item">
                    <a style="color: black;" class="page-link"
                        href="?page={{ transferencias.previous_page_number }}">Anterior</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span style="color: black;" class="page-link">&laquo; Primera</span>
                </li>
                <li class="page-item disabled">
                    <span style="color: black;" class="page-link">Anterior</span>
                </li>
                {% endif %}
        
                {% for i in transferencias.paginator.page_range %}
                {% if transferencias.number == i %}
                <li class="page-item active">
                    <span style="color: black;" class="page-link">{{ i }}</span>
                </li>
                {% else %}
                {% if i > transferencias.number|add:-7 and i < transferencias.number|add:8 %} <li class="page-item">
                    <a style="color: black;" class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
        
                    {% if transferencias.has_next %}
                    <li class="page-item">
                        <a style="color: black;" class="page-link"
                            href="?page={{ transferencias.next_page_number }}">Siguiente</a>
                    </li>
                    <li class="page-item">
                        <a style="color: black;" class="page-link" href="?page={{ transferencias.paginator.num_pages }}">&raquo;
                            Última</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Siguiente</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">&raquo; Última</span>
                    </li>
                    {% endif %}
            </ul>
        </nav>
    </div>
</div>

<!-- Modal para registrar transferencia -->
<div class="modal fade" id="registrarTransferenciaModal" tabindex="-1"
    aria-labelledby="registrarTransferenciaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="registrarTransferenciaModalLabel">Registrar Transferencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'registrarTransferencia' %}" method="POST">{% csrf_token %}
                    <div class="form-group form-floating py-2">
                        <select id="ddlMaterialDepositoOrigen" name="ddlMaterialDepositoOrigen" class="form-control"
                            required>
                            <option value="" selected disabled>Seleccione un material - depósito origen</option>
                            {% for material_x_deposito in materiales_x_depositos %}
                            <option value="{{ material_x_deposito.ID_MXD }}">{{ material_x_deposito.ID_Material }} -
                                {{ material_x_deposito.ID_Deposito }}</option>
                            {% endfor %}
                        </select>
                        <label for="ddlMaterialDepositoOrigen">Material - Deposito Origen</label>
                    </div>
                    <div class="form-group form-floating py-2">
                        <select id="ddlMaterialDepositoDestino" name="ddlMaterialDepositoDestino" class="form-control"
                            required>
                            <option value="" selected disabled>Seleccione un material - depósito destino</option>
                            {% for material_x_deposito in materiales_x_depositos %}
                            <option value="{{ material_x_deposito.ID_MXD }}">{{ material_x_deposito.ID_Material }} -
                                {{ material_x_deposito.ID_Deposito }}</option>
                            {% endfor %}
                        </select>
                        <label for="ddlMaterialDepositoDestino">Material - Deposito Destino</label>
                    </div>
                    <div class="form-group form-floating py-2">
                        <select id="ddlEmpleado" name="ddlEmpleado" class="form-control" required>
                            <option value="" selected disabled>Seleccione un empleado</option>
                            {% for empleado in empleados %}
                            <option value="{{ empleado.ID_Empleado }}">{{ empleado.Nombre }} {{ empleado.Apellido }}</option>
                            {% endfor %}
                        </select>
                        <label for="ddlEmpleado">Empleado</label>
                    </div>
                    <div class="form-group form-floating py-2">
                        <input type="number" id="txtCantidad" name="txtCantidad" class="form-control"
                            placeholder="" required>
                        <label for="txtCantidad">Cantidad</label>
                    </div>
                    <div class="d-grid py-2">
                        <button type="submit" class="btn btn-success bt-block text-white"><i class="bi bi-save"></i> Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% for transferencia in transferencias %}
<!-- Modal para editar la transferencia -->
<div class="modal fade" id="editarTransferenciaModal{{ transferencia.ID_Transferencias }}" tabindex="-1"
    aria-labelledby="editarTransferenciaModalLabel{{ transferencia.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="editarTransferenciaModalLabel{{ transferencia.id }}">Editar
                    Transferencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'editarTransferencia' transferencia.ID_Transferencias %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group form-floating py-2">
                        <select id="ddlMaterialDepositoOrigen" name="ddlMaterialDepositoOrigen" class="form-control" required>
                            {% for material_x_deposito in materiales_x_depositos %}
                                {% if material_x_deposito.ID_MXD == transferencia.ID_MXD_Origen.ID_MXD %}
                                    <option value="{{ material_x_deposito.ID_MXD }}" selected>{{ material_x_deposito.ID_Material }} - {{ material_x_deposito.ID_Deposito }} </option>
                                {% else %}
                                    <option value="{{ material_x_deposito.ID_MXD }}">{{ material_x_deposito.ID_Material }} - {{ material_x_deposito.ID_Deposito }} </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="ddlMaterialDepositoOrigen">Material - Deposito Origen</label>
                    </div>
                    <div class="form-group form-floating py-2">
                        <select id="ddlMaterialDepositoDestino" name="ddlMaterialDepositoDestino" class="form-control" required>
                            {% for material_x_deposito in materiales_x_depositos %}
                                {% if material_x_deposito.ID_MXD == transferencia.ID_MXD_Destino.ID_MXD %}
                                    <option value="{{ material_x_deposito.ID_MXD }}" selected>{{ material_x_deposito.ID_Material }} - {{ material_x_deposito.ID_Deposito }}</option>
                                {% else %}
                                    <option value="{{ material_x_deposito.ID_MXD }}">{{ material_x_deposito.ID_Material }} - {{ material_x_deposito.ID_Deposito }} </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="ddlMaterialDepositoDestino">Material - Deposito Destino</label>
                    </div>
                    <div class="form-group form-floating py-2">
                        <select id="ddlEmpleado" name="ddlEmpleado" class="form-control" required>
                            {% for empleado in empleados %}
                                {% if empleado.ID_Empleado == transferencia.ID_Empleado.ID_Empleado %}
                                    <option value="{{ empleado.ID_Empleado }}" selected>{{ empleado.Nombre }} {{ empleado.Apellido }}</option>
                                {% else %}
                                    <option value="{{ empleado.ID_Empleado }}">{{ empleado.Nombre }} {{ empleado.Apellido }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="ddlEmpleado">Empleado</label>
                    </div>
                    <div class="form-group form-floating py-2">
                        <input type="number" id="txtCantidad" name="txtCantidad" value="{{ transferencia.Cantidad }}"
                            class="form-control" placeholder="" required>
                        <label for="txtCantidad">Cantidad</label>
                    </div>
                    <div class="d-grid py-2">
                        <button type="submit" class="btn btn-success bt-block text-white"><i class="bi bi-save"></i> Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}